p{
    font-family: "Comic Neue", sans-serif;
    color: rgb(26, 18, 11);
}
h4{
    font-family: "Comic Neue", sans-serif;
    color: rgb(26, 18, 11);
}
h2{
    font-family: "Comic Neue", sans-serif;
    color: #444444;
}  
h1{
    font-family: "Comic Neue", sans-serif;
    color: #444444;
}
body{
    background-color: #FEFFDB;
}
.arvore-sabia{
    height: 75px;
    width: 100px;
}
.titulo{
    height: 100px;
}